
header h1 {
	margin-top: 1px;
	font-weight: 700;
}
.logo {
	background-image: url('../images/foodFinder-logo.png');
	background-repeat: no-repeat;
	background-size: cover;
	width: 180px;
	height: 120px;
	margin: 0 auto;
	padding: 0;
}
.input-group {
	margin-top: 50px;
	margin-bottom: 50px;
}
.card {
	margin: 50px;
}